Flask==2.2.2
marshmallow
simplejson
flasgger==0.9.5
apispec
apispec-webframeworks
PyYAML
flask-cors
bcrypt
python-dateutil
phonenumbers
requests
validators
more_itertools
jsonschema
pytz
netaddr
git+https://git@github.com/wobeng/py-tools.git@master
