Flask
marshmallow
simplejson
flasgger
apispec
git+https://git@github.com/marshmallow-code/apispec-webframeworks.git@master
PyYAML
flask-cors
bcrypt
python-dateutil
phonenumbers
requests
validators
validate_email
more_itertools
jsonschema==3.0.0a3
pytz